@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;800&family=Roboto:wght@300;400&display=swap');

:root {
	font-size: 62.5%;
	--heading-family: normal 800 3.8rem/4.2rem 'Nunito', sans-serif;
	--text-family: 'Roboto', sans-serif;

	--purple: #5e0957;
	--yellow: #d29a25;

	--animation-fadeDown: fadeDown 1s ease;
	--animation-fadeUp: fadeUp 1s ease 0.5s backwards;
	--animation-fadeLeft: fadeLeft 1s;
	--animation-fadeRight: fadeRight 1s;
}

*,
button {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	background-color: none;
	border: none;
}

a {
	text-decoration: none;
	color: none;
}

/* * {
	outline: 1px solid limegreen !important;
} */

body {
	width: 100%;
	font-size: 1.6rem;
	line-height: 2.4rem;
	font-weight: 400;
	font-family: 'system-ui', sans-serif;
	overflow-x: hidden;
}

p {
	color: #383838;
}

h2 {
	font-family: 'Nunito', sans-serif;
}

button {
	width: 240px;
	height: 56px;
	padding: 1.2rem 1rem;
	/* background: rgb(211, 169, 26);
	background: linear-gradient(
		90deg,
		#d3a91a 12%,
		#ebcc51 31%,
		#ae7421 78%,
		rgba(218, 202, 116, 1) 97%
	); */
	background: var(--yellow);
	color: var(--purple);

	border-radius: 12px;
	font: normal 800 1.6rem/1.5rem 'Nunito', sans-serif;

	cursor: pointer;

	transition: all 0.3s;

	animation: fadeUp 1s ease 0.5s backwards;

	text-transform: uppercase;
	line-height: 1.8rem;
}

button:hover {
	transform: translateY(-10px);
	box-shadow: 0px 5px 25px 0px rgba(235, 204, 81, 0.6);

	filter: contrast(1.3);
}

section {
	padding: 9rem 0;
}

header {
	width: 100%;
	background-image: url(./src/images/moca-magra.jpg);
	background-size: cover;
}

.bg-overlay {
	background-color: #5e0957e2;

	height: 100vh;
	display: grid;
	place-items: center;
}

.logo {
	text-align: center;

	animation: fadeDown 1s ease;
}

.header-wrapper {
	display: flex;
	justify-content: center;
	width: 70%;
}

.hide-desktop {
	display: none;
}

.header-wrapper .content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3rem;
}

.header-wrapper .content h2 {
	font-size: clamp(1rem, 0.5rem + 5vw, 3.8rem);
	font-family: 'Nunito', sans-serif;
	line-height: clamp(1.6rem, 0.1rem + 10vw, 4.2rem);
	color: white;

	animation: fadeLeft 1s ease 0.3s backwards;
}

.header-wrapper .content h4 {
	color: white;
	font-weight: 400;
	font-size: 1.6rem;
	margin-top: -1.6rem;

	animation: fadeLeft 1s ease 0.3s backwards;
}

.header-wrapper .content button {
	animation: fadeLeft 1s ease 0.4s backwards;
}

.header-wrapper .header-image img {
	text-align: center;
	width: min(calc(20rem + 30vw), 48rem);

	animation: fadeRight 1s ease 0.8s backwards;
}

/* End Header Section */

.details {
	padding: 2rem 0;
}

.details h2 {
	text-align: center;
	font: var(--heading-family);
	color: var(--yellow);
}

.details-wrapper {
	max-width: 114rem;
	display: grid;
	grid-template-columns: 1fr 1fr;

	margin: 0 auto;
	padding: 2rem 0;
}

.feature-text {
	color: var(--yellow);
	font: normal 800 1.8rem 'Nunito', sans-serif;
}

.details-content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 2rem;
}

/* End Details Section */

section.benefits {
	background-color: var(--purple);
	padding-bottom: 0;
}

.benefits h2 {
	font: var(--heading-family);
	color: var(--yellow);
	text-align: center;
}

.benefits-content {
	text-align: center;

	max-width: 60rem;
	margin: 0 auto;
	padding: 3rem 0 0 0;

	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 4rem;
}

.icon-wrapper svg {
	width: 10rem;
	margin-bottom: 1rem;
}

.icon-wrapper svg path,
.icon-box svg path {
	fill: var(--yellow);
}

.icon-wrapper svg {
	transition: all 0.3s;
}

.icon-wrapper:hover svg,
.icon-wrapper:hover h3 {
	filter: drop-shadow(0px 0px 15px var(--yellow));
	text-shadow: 0px 0px 10px var(--yellow);
}

.icon-wrapper h3 {
	font: normal 800 2rem/2.4rem 'Nunito', sans-serif;
	color: var(--yellow);
	transition: all 0.3s;
}

.icon-wrapper p {
	font: normal 400 1.6rem/2.4rem 'system-ui', sans-serif;
	color: white;

	margin-top: 1rem;
}

/* End Benefits Section */

section.topics {
	padding-top: 0;
	margin-top: -9rem;
}

.topics {
	text-align: center;
}

.topics h2 {
	text-align: center;
	color: var(--yellow);
	font: normal 800 3.2rem/3.8rem 'Nunito', sans-serif;

	margin-bottom: 6rem;
}

.topics img {
	width: 85%;
}
.topics button {
	margin: 2rem auto;
	display: block;
}

/* End Topics Section */

.ingredients {
	background-color: var(--purple);
	background-image: url('https://www.transparenttextures.com/patterns/buried.png');
	text-align: center;
}

.ingredients h2 {
	font: var(--heading-family);
	text-align: center;
	color: var(--yellow);
}

.ingredients-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 4rem;

	width: 70%;
	margin: 8rem auto;
}
.single-ingredient {
	display: block;
	text-align: center;
}

.single-ingredient h3 {
	font-size: 2.2rem;
	color: var(--yellow);

	margin: 1rem 0;
	transition: all 0.3s;
}

.single-ingredient img {
	transition: all 0.3s;
}

.single-ingredient:hover img,
.single-ingredient:hover h3 {
	filter: drop-shadow(0px 0px 15px var(--yellow));
}

.single-ingredient img {
	width: 20rem;
	border-radius: 50%;
	border: solid 4px var(--yellow);
}

.single-ingredient p {
	padding: 0 3rem;

	color: white;
	font-size: 1.8rem;
	line-height: 2.4rem;
}

/* End Ingredients Section */

section.warranty {
	padding-bottom: 0;
}

.warranty-wrapper {
	width: 75%;
	display: grid;
	grid-template-columns: 1fr 1fr;

	margin: 0 auto;
}

.warranty-image {
	display: flex;
}

.warranty-image img {
	width: 50rem;
}

.warranty-content {
	display: grid;
	place-content: center;
	gap: 3rem;
}

.warranty-content h2 {
	font: var(--heading-family);
	color: var(--purple);
}

.warranty-content p {
	font-size: 1.6rem;
	line-height: 2.4rem;
}

/* End Warranty Section */

section.offer {
	background-color: var(--purple);
	padding: 5rem 0;
}

.offer .title {
	text-align: center;
	color: var(--yellow);
	font-size: 2.4rem;
}

.offer-wrapper {
	width: 80%;
	margin: 3rem auto;

	display: flex;
	justify-content: center;
	gap: 3rem;
}

.offer .box {
	width: 30%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.6rem;

	text-align: center;

	/* 	border: solid 4px var(--yellow);
	border-top: none; */

	border-radius: 32px;
	padding: 9rem 0 2rem;

	background-color: aliceblue;

	transition: all 0.3s;

	position: relative;
}

.offer .box:hover {
	transform: translateY(15px);
	box-shadow: 0px 0px 15px 0 var(--yellow);
}

.title-box {
	width: 100%;
	padding: 2rem 0;
	background-color: var(--yellow);

	border-radius: 32px;

	position: absolute;
	top: 0;
	left: 0;

	font-size: 1.8rem;
	letter-spacing: 2px;
}

.box p.qtd {
	color: #333;
	font-weight: 500;
}

.box .image-box {
	position: relative;
}

.image-box .feature {
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 100px;
	height: 100px;
	background-color: var(--yellow);

	border-radius: 50%;

	position: absolute;
	top: 20px;
	right: 10px;
}

.feature {
	font-size: 2rem;
	line-height: 2rem;
	font-weight: 400;

	font-family: 'Nunito', sans-serif;
}

.feature b {
	font-weight: 800;
}

.box .image-box h2 {
	font-weight: 900;
	font-size: 3.2rem;
}

.box img {
	margin-top: 1.6rem;
	width: 100%;
}

.offer .free-shipping {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 0.6rem;
	align-items: center;
}

.free-shipping svg {
	width: 40px;
}

.free-shipping-empty {
	content: '';
	height: 40px;
}

.box p.vista {
	font-size: 2rem;
}

.box p strong {
	font-size: 2.2rem;
	font-weight: 800;
	color: #333;
}

.box h2 {
	font-size: 2.7rem;
	font-weight: 800;
	color: var(--purple);
}

.box h2 span {
	font-weight: 800;
	font-size: 4.5rem;
}

.box button.buy-box {
	background: #458106;
	color: white;
}

/* End Offer section  */

section.security {
	text-align: center;
	font-size: 2rem;
}

.security h2,
.faq h2 {
	font: var(--heading-family);
	color: var(--purple);
	text-align: center;
}

.security .icons-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 3rem;

	width: 70%;
	margin: 0 auto;
	padding: 6rem 0 0 0;
}

.icons-wrapper .icon-box svg {
	width: 8rem;
	margin-bottom: 1rem;
}

.icon-box p {
	font-size: 1.6rem;
}

/* End Security section */

section.faq {
	padding-bottom: 0;
}

.faq h2 {
	margin-bottom: 3.2rem;
}

.faq .accordion {
	width: 50%;
	margin: 0 auto;

	display: grid;
	gap: 2rem;
}

.contentBx {
	position: relative;
}

.contentBx:nth-child(1) .title {
	border-radius: 12px 12px 0 0;
}

.contentBx:last-child .title {
	border-radius: 0 0 12px 12px;
}

.contentBx .title {
	position: relative;

	padding: 1.8rem;
	box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 0.3);

	background-color: #efefef;
	color: var(--purple);
	font-size: 1.8rem;
	font-weight: 500;

	cursor: pointer;
	transition: all 0.3s;
}

.contentBx:hover .title {
	color: var(--yellow);
	background-color: var(--purple);
}

.contentBx .title::before {
	content: '+';
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);

	font-size: 2.4rem;
}

.contentBx .content {
	position: relative;
	font-size: 1.6rem;
	opacity: 0;
	height: 0;
	overflow: hidden;

	transition: all 0.2s;
	overflow-y: hidden;
}

.content p {
	padding: 1.4rem;
	line-height: 2.4rem;
	font-size: 1.8rem;
}

.contentBx.active .content {
	height: 100%;
	opacity: 1;
}

.contentBx.active .title {
	background-color: var(--purple);
	color: var(--yellow);
}

.contentBx.active .title::before {
	content: '-';
	font-size: 2.9rem;
	top: 45%;
	right: 22px;
}

/* End Faq Section */

svg + footer {
	margin-top: -1rem;
}

footer {
	padding: 4rem 0;
	background-color: var(--purple);
}

footer .content-wrapper {
	width: 90%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;

	margin: 0 auto;
}

.content-wrapper p,
.content-wrapper li {
	color: white;
	list-style: none;
}

.content-wrapper h2,
.content-wrapper h3 {
	color: var(--yellow);
	font-size: 1.8rem;
	font-weight: 800;

	font-family: 'Nunito', sans-serif;

	margin-bottom: 1rem;
}

.col2 li {
	margin-bottom: 0.5rem;

	cursor: pointer;
	transition: color 0.3s;
}

.col2 li:hover {
	color: var(--yellow);
}

.content-wrapper .col4 {
	display: flex;
	flex-direction: column;
}

.content-wrapper .col4 p + h3 {
	margin-top: 1rem;
}

/* End Footer */

/* Other Pages */

.topbar {
	padding: 3rem 0;
	background-color: var(--purple);
	text-align: center;
}

.page-content {
	width: 65%;
	padding: 8rem 0;
	margin: 0 auto;
}

.page-content h2 {
	color: var(--yellow);
	font-size: 3.8rem;
	margin-bottom: 4rem;
}

.page-content h3 {
	color: var(--purple);
	font-size: 1.8rem;
	font-family: 'Nunito', sans-serif;
	font-weight: 800;
	margin: 2rem 0;
}

/*  
*
*
*
*
*
*
*
*
*
*
*
*
*/

/* Animations and Others */
@keyframes fadeDown {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeLeft {
	from {
		opacity: 0;
		transform: translateX(-35px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeRight {
	from {
		opacity: 0;
		transform: translateX(35px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeUp {
	from {
		opacity: 0;
		transform: translateY(35px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/*
 *
 *
 *
 *
 *
 *
 *
 *
 */

/* Responsivity */

@media (max-width: 800px) {
	.bg-overlay .logo img {
		width: 85%;
	}

	header {
		width: 100%;
	}
	.hide-desktop {
		display: inline;
		text-align: center;
	}

	.header-wrapper .header-image {
		display: flex;
		flex-direction: column;
	}

	.header-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
		text-align: center;

		width: 100%;
	}

	.header-wrapper .content button {
		display: none;
	}

	.header-wrapper h2 {
		font-size: clamp(1rem, 0.5rem - 5vw, 3.8rem);
		text-align: center;
	}

	.header-wrapper .content h4 {
		font-size: 2rem;
	}

	section.details {
		padding: 4rem 2rem;
	}

	.details .details-content button {
		display: none;
	}

	.details-wrapper {
		display: grid;
		grid-template-columns: 1fr;
		text-align: center;
	}

	.details-content {
		grid-row-start: 1;
	}

	section.benefits {
		margin: 0 0 -1rem;
	}

	section.benefits h2 {
		font-size: 2.4rem;
		line-height: 3.2rem;
	}

	section.warranty h2 {
		font-size: 2.4rem;
		line-height: 3.2rem;
	}

	section.topics h2 {
		font-size: 2.4rem;
		line-height: 3.2rem;
	}

	section.ingredients h2 {
		font-size: 2.4rem;
		line-height: 3.2rem;
	}

	.ingredients-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 90%;
		gap: 2rem;
		margin: 1rem auto;
	}

	.ingredients-wrapper .ingredient-image img {
		width: 150px;
	}

	.single-ingredient {
		margin: 2rem 0;
	}

	.single-ingredient p {
		padding: 0;
	}

	.warranty-wrapper {
		display: grid;
		grid-template-columns: 1fr;
		text-align: center;

		padding: 0 0 9rem 0;
	}

	.warranty-image {
		display: none;
	}

	.offer-wrapper {
		display: grid;
		grid-template-columns: 1fr;
		justify-items: center;
	}

	.offer-wrapper .box {
		width: 70%;
	}

	.security {
		width: 90%;
		margin: 0 auto;
	}

	.security h2 {
		font-size: 2.4rem;
		line-height: 3.2rem;
	}

	.security .icons-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.faq h2 {
		font-size: 2.4rem;
		line-height: 3.2rem;
	}

	.faq .accordion {
		width: 75%;
	}

	footer .content-wrapper {
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
	}
}

@media (max-width: 430px) {
	.bg-overlay .logo img {
		width: 60%;
	}

	section.details h2 {
		font-size: 2.4rem;
		line-height: 2.8rem;
	}

	.details-image img {
		width: 90%;
	}

	.benefits h2 {
		margin-bottom: 4rem;
	}

	.benefits-content {
		grid-template-columns: 1fr 1fr;
		padding: 0 2rem 4rem;
	}

	.offer h2 {
		line-height: 3.8rem;
	}

	.offer-wrapper {
		width: 90%;
	}

	.offer-wrapper .box {
		width: 100%;
	}

	.security h2 {
		margin-bottom: 1.6rem;
	}

	.security .icons-wrapper {
		width: 95%;
	}

	.faq .accordion {
		width: 90%;
	}

	.contentBx .content {
		height: 0;
		overflow: auto;
		overflow-y: hidden;
	}

	.contentBx.active .content {
		height: 100%;
		opacity: 1;
	}

	section.topics {
		padding-top: 6rem;
	}

	footer .content-wrapper {
		text-align: center;
		grid-template-columns: 1fr;
		justify-items: center;
	}

	.content-wrapper .col4 img {
		margin: 0 auto;
	}
}
