@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;800&family=Roboto:wght@300;400&display=swap');

:root {
	font-size: 62.5%;
	--heading-family: normal 800 3.8rem/4.2rem 'Nunito', sans-serif;
	--text-family: 'Roboto', sans-serif;

	--purple: #5e0957;
	--yellow: #d29a25;
}

*,
button {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	background-color: none;
	border: none;
}

a {
	text-decoration: none;
	color: none;
}

/* * {
	outline: 1px solid limegreen !important;
} */

body {
	width: 100%;
	font-size: 1.6rem;
	line-height: 2.4rem;
	font-weight: 400;
	font-family: 'system-ui', sans-serif;
	overflow-x: hidden;
}

p {
	color: #383838;
}

h2 {
	font-family: 'Nunito', sans-serif;
}

button {
	width: 240px;
	height: 56px;
	padding: 1.2rem 3.5rem;
	background: rgb(211, 169, 26);
	background: linear-gradient(
		90deg,
		rgba(211, 169, 26, 1) 12%,
		rgba(235, 204, 81, 1) 31%,
		rgba(235, 232, 176, 1) 56%,
		rgba(174, 116, 33, 1) 78%,
		rgba(218, 202, 116, 1) 97%
	);
	color: var(--purple);

	border-radius: 12px;
	font: normal 800 1.6rem/1.5rem 'Nunito', sans-serif;

	cursor: pointer;
}

section {
	padding: 9rem 0;
}

header {
	width: 100%;
	background-image: url(./src/images/moca-magra.jpg);
	background-size: cover;
}

.bg-overlay {
	background-color: #5e0957e2;

	height: 100vh;
	display: grid;
	place-items: center;
}

.logo {
	text-align: center;
}

.header-wrapper {
	display: flex;
	justify-content: center;
	width: 70%;
}

.header-wrapper .content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3rem;
}

.header-wrapper .content h2 {
	font-size: clamp(1rem, 0.5rem + 5vw, 3.8rem);
	font-family: 'Nunito', sans-serif;
	line-height: clamp(1.6rem, 0.1rem + 10vw, 4.2rem);
	color: white;
}

.header-wrapper .header-image img {
	text-align: center;
	width: min(calc(20rem + 30vw), 48rem);
}

/* End Header Section */

.details h2 {
	text-align: center;
	font: var(--heading-family);
	color: var(--yellow);
}

.details-wrapper {
	max-width: 114rem;
	display: grid;
	grid-template-columns: 1fr 1fr;

	margin: 0 auto;
	padding: 2rem 0;
}

.feature-text {
	color: var(--yellow);
	font: normal 800 1.8rem 'Nunito', sans-serif;
}

.details-content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 2rem;
}

/* End Details Section */

section.benefits {
	background-color: var(--purple);
	padding-bottom: 0;
}

.benefits h2 {
	font: var(--heading-family);
	color: var(--yellow);
	text-align: center;
}

.benefits-content {
	text-align: center;

	max-width: 60rem;
	margin: 0 auto;
	padding: 6rem 0;

	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 4rem;
}

.icon-wrapper svg {
	width: 10rem;
	margin-bottom: 1rem;
}

.icon-wrapper svg path,
.icon-box svg path {
	fill: var(--yellow);
}

.icon-wrapper h3 {
	font: normal 800 2rem/2.4rem 'Nunito', sans-serif;
	color: var(--yellow);
}

.icon-wrapper p {
	font: normal 400 1.6rem/2.4rem 'system-ui', sans-serif;
	color: white;

	margin-top: 1rem;
}

/* End Benefits Section */

section.topics {
	padding-top: 0;
}

.topics {
	text-align: center;
}

.topics h2 {
	text-align: center;
	color: var(--yellow);
	font: normal 800 3.2rem/3.8rem 'Nunito', sans-serif;

	margin-bottom: 6rem;
}

.topics img {
	width: 70%;
}
.topics button {
	margin: 2rem auto;
	display: block;
}

/* End Topics Section */

.ingredients {
	background-color: var(--purple);
	background-image: url('https://www.transparenttextures.com/patterns/buried.png');
	text-align: center;
}

.ingredients h2 {
	font: var(--heading-family);
	text-align: center;
	color: var(--yellow);
}

.ingredients-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 4rem;

	width: 70%;
	margin: 8rem auto;
}
.single-ingredient {
	display: block;
	text-align: center;
}

.single-ingredient h3 {
	font-size: 2.2rem;
	color: var(--yellow);

	margin: 1rem 0;
}

.single-ingredient img {
	width: 20rem;
	border-radius: 50%;
	border: solid 4px var(--yellow);
}

.single-ingredient p {
	padding: 0 3rem;

	color: white;
	font-size: 1.8rem;
	line-height: 2.4rem;
}

/* End Ingredients Section */

section.warranty {
	padding-bottom: 0;
}

.warranty-wrapper {
	width: 70%;
	display: grid;
	grid-template-columns: 1fr 1fr;

	margin: 0 auto;
}

.warranty-image {
	display: flex;
}

.warranty-image img {
	width: 50rem;
}

.warranty-content {
	display: grid;
	place-content: center;
	gap: 3rem;
}

.warranty-content h2 {
	font: var(--heading-family);
	color: var(--purple);
}

.warranty-content p {
	font-size: 1.6rem;
	line-height: 2.4rem;
}

/* End Warranty Section */

section.offer {
	background-color: var(--purple);
}

.offer .title {
	text-align: center;
	color: var(--yellow);
	font-size: 2.4rem;
}

.offer .title p {
	font-size: 2rem;
	color: white;
	margin: 1.6rem;
}

.offer-wrapper {
	width: 70%;
	margin: 0 auto;

	display: flex;
	justify-content: center;
	gap: 3rem;
}

.offer .box {
	width: 30%;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.6rem;

	text-align: center;

	border: solid 2px var(--yellow);
	border-top: none;

	border-radius: 8px;
	padding: 0 0 3rem;

	background-color: aliceblue;
}

.title-box {
	width: 101%;
	background-color: var(--yellow);

	border-radius: 8px 8px 0 0;
}

.box h3 {
	width: 100%;

	padding: 1rem 0;
	color: white;
}

.box img {
	width: 100%;
}

.box p + h3 {
	background-color: var(--yellow);
	width: 50%;
	border-radius: 99999px;
	padding: 1rem 0;

	color: white;
}

.box p strong {
	font-size: 2.2rem;
	color: #666;
}

.box .divide {
	width: 50%;
	height: 15px;
	border-bottom: 1px solid #666;
	text-align: center;
}

.box h2 {
	font-size: 2.7rem;
	font-weight: 800;
	color: var(--purple);
}

.box h2 span {
	font-weight: 800;
	font-size: 4.5rem;
}

/* End Offer section  */

section.security {
	text-align: center;
	font-size: 2rem;
}

.security h2,
.faq h2 {
	font: var(--heading-family);
	color: var(--purple);
	text-align: center;
}

.security .icons-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 3rem;

	width: 70%;
	margin: 0 auto;
	padding: 6rem 0 0 0;
}

.icons-wrapper .icon-box svg {
	width: 8rem;
	margin-bottom: 1rem;
}

.icon-box p {
	font-size: 1.6rem;
}

/* End Security section */

.faq h2 {
	margin-bottom: 3.2rem;
}

.faq .accordion {
	width: 50%;
	margin: 0 auto;

	display: grid;
	gap: 2rem;
}

.contentBx {
	position: relative;
}

.contentBx:nth-child(1) .title {
	border-radius: 12px 12px 0 0;
}

.contentBx:last-child .title {
	border-radius: 0 0 12px 12px;
}

.contentBx .title {
	position: relative;

	padding: 1.8rem;
	box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 0.3);

	background-color: #efefef;
	color: var(--purple);
	font-size: 1.8rem;
	font-weight: 500;

	cursor: pointer;
	transition: all 0.3s;
}

.contentBx:hover .title {
	color: var(--yellow);
	background-color: var(--purple);
}

.contentBx .title::before {
	content: '+';
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);

	font-size: 2.4rem;
}

.contentBx .content {
	position: relative;
	font-size: 1.6rem;
	height: 0;
	overflow: hidden;

	transition: 0.5s;
	overflow-y: hidden;
}

.content p {
	padding: 1.4rem;
	line-height: 2.4rem;
	font-size: 1.8rem;
}

.contentBx.active .content {
	height: 110px;
}

.contentBx.active .title {
	background-color: var(--purple);
	color: var(--yellow);
}

.contentBx.active .title::before {
	content: '-';
	font-size: 2.9rem;
	top: 45%;
	right: 22px;
}

/* End Faq Section */

svg + footer {
	margin-top: -1rem;
}

footer {
	padding: 4rem 0;
	background-color: var(--purple);
}

footer .content-wrapper {
	width: 90%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;

	margin: 0 auto;
}

.content-wrapper p,
.content-wrapper li {
	color: white;
	list-style: none;
}

.content-wrapper h2,
.content-wrapper h3 {
	color: var(--yellow);
	font-size: 1.8rem;
	font-weight: 800;

	font-family: 'Nunito', sans-serif;

	margin-bottom: 1rem;
}

.col2 li {
	margin-bottom: 0.5rem;

	cursor: pointer;
	transition: color 0.3s;
}

.col2 li:hover {
	color: var(--yellow);
}

.content-wrapper .col4 {
	display: flex;
	flex-direction: column;
}

.content-wrapper .col4 p + h3 {
	margin-top: 1rem;
}

/* End Footer */

/* Other Pages */

.topbar {
	padding: 3rem 0;
	background-color: var(--purple);
	text-align: center;
}

.page-content {
	width: 65%;
	padding: 8rem 0;
	margin: 0 auto;
}

.page-content h2 {
	color: var(--yellow);
	font-size: 3.8rem;
	margin-bottom: 4rem;
}

.page-content h3 {
	color: var(--purple);
	font-size: 1.8rem;
	font-family: 'Nunito', sans-serif;
	font-weight: 800;
	margin: 2rem 0;
}

/*  
*
*
*
*
*
*
*
*
*
*
*
*
*/

/* Responsivity */

@media (max-width: 800px) {
	.bg-overlay .logo img {
		width: 85%;
	}
	.header-wrapper {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		gap: 2rem;
		text-align: center;
	}

	.header-wrapper h2 {
		font-size: clamp(1rem, 0.5rem - 5vw, 3.8rem);
		text-align: center;
	}

	section.details {
		padding: 9rem 3rem;
	}

	.details-wrapper {
		display: grid;
		grid-template-columns: 1fr;
		text-align: center;
	}
}

/* @media(max-width:360px {

}) */
